/* Customizing the dropdown in navbar */
.dropdown:hover>.dropdown-menu {
  display: block;
  margin-left : 20px !important;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
.dropdown>.dropdown-menu { margin: 0px;}

/* shadow effects to cards */
.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover
{
  outline: none;
    border-color: #9ecaed;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}
/* shadow effects to navbar */
#bottom
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}
#top {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#top .nav-link
{
  color: black;
  padding: 6px 30px 6px 30px;
}
/* changing the default arrows and indicator*/
a.carousel-control-next {
content: url("prev.png");
margin-top : 70px  !important;
}
a.carousel-control-prev {
content: url("next.png");
margin-top : 70px  !important;
}
.carousel-indicators li {

    background-color: #726D6C !important;

}
.carousel-indicators li.active {
    background-color: #000000 !important;
}
/* centering the text in card and modals */
.card-text
{
  text-align: center !important;
}

.modal {
  text-align: center;
}

#move
{
  display: flex;
}
/* adjust the move div in mobile view */
@media (max-width: 576px) {

    #move {
      display : inline-flex;
}
#move .btn-primary{
 font-size: 0px;
 height: 39px;
 margin-top: 8px;
}
#move i{
  font-size: initial !important;
}
#move input {
 width : 70% !important;
}
/* adjusting the number of colunms of cards*/

    @media (min-width: 576px) {
        .card-columns {
            column-count: 1 !important;
        }
    }

    @media (min-width: 768px) {
        .card-columns {
            column-count: 2 !important;

        }

    }
    @media (min-width: 992px) {
        .card-columns {
            column-count: 3 !important;
        }

    }

    @media (min-width: 1200px) {
        .card-columns {
            column-count: 4 !important;
        }
    }
    @media (max-width: 992px) {
/* adjusting the container in mobile view */
.container
{
  width: 100% !important;
}
/* adjusting the dropdown in moblie view */
        .dropdown:hover>.dropdown-menu {
          display: flex;
          flex-flow : row wrap !important;
        }
        #bottom .dropdown-menu
        {
          background-color: #343a40 !important;
          border: 1px solid white ;

        }
.dropdown-menu{
  padding: 0px 5px 0px 5px !important;
}
.dropdown-menu a
{
  padding: 15px 10px 15px 10px !important;
}
        #bottom .dropdown-menu a
        {
          color: white !important;

        }

        #bottom .dropdown-menu a:hover
        {
          background-color: #313131 !important;

        }
        #top .nav-link
        {
            padding: 10px 10px 10px 0px !important;
        }
        .dropdown > .dropdown-toggle:active {
            pointer-events: none;
        }
        .dropdown>.dropdown-menu {
          position: absolute !important;
             left: 35% !important;
             top: 0;
           }


    }
